//Color
$baseColor: #ff0000;
$importantColor: #900c3f;
$warningColor: #f08080;

//Fuente
$primaryFont: Arial;
$secondaryFont: Verdana;

//Border-radius
$borderRadius: 5px;

//Box-shadow
$boxShadow: -19px 16px 10px 3px rgba(0, 0, 0, 0.7);
