//Color
$baseColor: #0000ff;
$importantColor: #00008b;
$warningColor: #00ffff;

//Fuente
$primaryFont: Helvetica;
$secondaryFont: Courier;

//Border-radius
$borderRadius: 50px;

//Box-shadow
$boxShadow: 15px 8px 10px -5px rgba(0, 0, 0, 0.64);
