$color-base: red;
$color-text: white;

.container-1 {
  display: flex;
  justify-content: space-between;
  width: 750px;
  .box {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    .color-box-text {
      align-items: center;
      text-align: center;
    }
  }
  .base-color {
    background-color: $color-base;
    color: $color-text;
    width: 90px;
  }
  @for $box from 1 through 4 {
    .darken-#{$box} {
      background-color: darken($color-base, 10% * $box);
      color: lighten($color-text, 10% * $box);
    }
  }
  @for $box from 1 through 4 {
    .lighten-#{$box} {
      background-color: lighten($color-base, 10% * $box);
      color: darken($color-text, 10% * $box);
    }
  }
}
